<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <label>Username</label>
    <input type="text" name="username" ng-model="user.username" ng-minlength="5" ng-maxlength="12" required>
            <p ng-show="signupForm.username.$error.minlength">Username is too short.</p>
            <p ng-show="signupForm.username.$error.maxlength">Username is too long.</p>
    <label>Password</label>
    <input type="password" name="password" ng-model='user.password' ng-minlength="8" ng-maxlength="15" required>
    		<p ng-show="signupForm.password.$error.minlength">Password is too short.</p>
            <p ng-show="signupForm.password.$error.maxlength">Password is too long.</p>
     <button ng-disabled="signupForm.$invalid">Sign Up</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>